*.pyc
*.idea
*.DS_Store
*.vscode
*.csv
*.pt
*.json
*.sqlite3
chemprop.egg-info
docs/build
script_*
cp_*
cpf_*
test_*
*.log
*.pkl
notebook.ipynb
rdkit_notebook.ipynb
old_3d
3d_features.txt
.venv
datasets
*.tar.gz
